.form-container {
    max-width: 800px;
    width: 90%;
    margin: 0 auto;
    padding: 30px 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-container h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 30px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.campo {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 5px;
}

input {
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    width: 100%;
}

.form-container button {
    padding: 12px 20px;
    font-size: 1rem;
    background-color: #107a13;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-self: center;
    width: 100%;
    max-width: 250px;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #215020;
}

.grid-dupla {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

@media (max-width: 768px) {
    .grid-dupla {
        grid-template-columns: 1fr;
    }

    .form-container h1 {
        font-size: 1.6rem;
    }

    button {
        width: 100%;
        max-width: 100%;
    }
}
